
<div >
    <div id="wrapper" >
        <app-barra></app-barra>
    
        <div id="content-wrapper" class="d-flex flex-column body" >
            <div class="container-fluid">
                <div class="row">
                    <br>
                </div>
                
                <div>
                    <button type="button"  class="btn btn-info" (click)="consulta()"><i class="fa-solid fa-file"></i> Nuevo</button>&nbsp;
                    
                </div>       
            </div>
        </div>
    </div>
    <app-foot></app-foot>
</div>
