
.wrapper {
  display: flex;
  width: 100%;
}

.sidebarr {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #2E4053;
  color: #fff;
  transition: all 0.3s;
}

.bajo{
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nom{
  
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}